%p Congratulations! Your project posting on the CSclearinghouse: '#{@project.title}' has just been approved by an administrator! Your project will now appear on the website.
%br/
%p Thank you for using the CSclearinghouse. Feel free to post more projects or show your interest in another project!
%br/
%p This is an automated message. Please do not respond to this as it will not be seen.
