%p Your project posting on CSclearinghouse for '#{@project.title}' has just been denied by an administrator. You should receive another email shortly from an administrator informing you on the reason for the project being denied.
%br/
%p We are very sorry for the inconvenience. Please feel free to continue using the CSclearinghouse to post more projects!
%br/
%p This is an automated message. Please do not respond to this as it will not be seen.
