%p
  Welcome to the Csclearinghouse #{@user.firstname}
%p Your account has been approved by an administrator.
%p Click on the link below to sign into the clearinghouse:
%p= @url
%br/
%p This is an automated message. Please do not respond to this as it will not be seen.
