%div#homeimage
.container#woodimage
	#wood_partition1
		#wp1background
			&nbsp;
		#wp1text 
			%h3
				Recent Projects
			Take a look below at some of the most recent projects posted on the site. The rest can be found under the Projects tab. If you're looking to start a project, just click the button on the right!
		%button.btn.btn-default#add_project_button=link_to 'Post a New Project', new_project_path
	#wood_partition2
		%table
			%tr
				-Project.order("created_at DESC").first(3).each do |project|
					%td
						.wp2bacground
							&nbsp;
						.wp2content= render "shared/home_project", :project => project
		
			
%div#createdby 
	%div#bottomtext
		Created by J. Grossman '14, S. Bjornsson '14, and T. Charron '14  
.container
	
	


