/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
771D1C */

ul{
list-style-type: none;
}

textarea{
width:100%;
font-family:"Times New Roman", Times, serif;
font-size:0.875em;
}

.small_text_area{
height:5em;
}

.content_body{
float:left;
}

.project{
border: 2px inset #FFD796;
padding: 20px;
width: 100%;
margin:5px;

}

.project_detail{
font-weight: bold;

}
.project_title{
font-size:large;
font-weight:bold;
}

.spacing{
padding:1em;
}
.tag{
padding:.3em;
}

#homeimage{
background-image: url(csloungethin.jpeg);
background-size:cover;
height:270px;
width:100%;
border-bottom: 4px solid black;
}

th{
	margin-right: 10px;
}

.page_links a{
margin-right:15px;
}


#account_info{
float:right;
position:relative;
top:-25px;
font-weight: bold
}

a{
color:orange;
text-decoration: none;
}

#sidebar{
padding: 7px;
margin-right:0px;
float:left;
position:relative;
height: 100%;
list-style-type: none;
width:7em;
}



.content{
float:left;
margin-left: 15px;
position:relative;
width:70%;
}


#header{
clear: left;
}

#sidebar li{
width: 100%;	
border-left: 4px;
margin-top:1em;
font-weight:bold;
}


 h1.title {
  margin: 0 0 1em;
  padding: 10px;
	background-image: url(red-grid-tile.png);
  color: white;
  border-bottom: 4px solid black;
  font-size: 2em;
  font-style: normal;
	margin-bottom:0px;
}
 #titlelink {
  text-decoration: none;
	color: white;
	padding-left: 0px;
	
}
.hilite  {
	text-decoration: none;
	color: #992020;
}
