.header h2 {
	position: absolute;
	background-color: pink;
	left: 150;
}

.table_head h3#del {
	position: absolute;
	left: 150;
	bottom: -20;
}

.table_head h3#subj {
	position: absolute;
	bottom: -20;
	left: 380;
}

.table_head h3#from {
	position: absolute;
	bottom: -20;
	left: 230;
}

.table_head h3#mess {
	position: absolute;
	bottom: -20;
}

#notification_delete {
	position: absolute;
}

#notificationi_subject {
	position: absolute;
}

#notification_from {
	position: absolute;
}

#notification_message {
	position: absolute;
}
