// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*.content#show{
background-color:maroon;
font-family:Arial,Helvetica, sans-serif;
padding:1px;
}*/

.headerblock{
background-color:white;
location: relative;
margin-top: 20px;
margin-left: 20px;
margin-right:20px;
min-height: 220px;
}

#avatar{
float:left;
padding:10px;
height:200px;
width:200px;
}

#avatar_upload{
margin-top: 10px;
max-width: 250px;
overflow:clip
}

#headerinfo{
padding:10px;
margin-left:260px;
}

#namelabel{
display: inline-block;
}

.last{
margin-left: 135px;
}

#name{
font-size:2em;
}

#shortdescription{
}

#user_status{
font-size:.8em;
color:Gray;
}

#major{
display: inline-block;
}

.major2{
margin-left: 170px;
}

#contact_buttons{
}

#email{
margin-left:15px;
}

#phone{
margin-left:10px;
}

#phonehint{
font-size: .9em;
line-height:1px;
margin-left: 115px;
}

#show #headerinfo #skilltags{
max-height:40px;
overflow:auto;
/*the overflow was clipping the tags. need to address this, cause we need to deal with tags stacking up, but overflow clips the colored area that is the tag*/
}

.skillPadding{

line-height:300%;
}

#skilltag_input{
margin-left: 20px;
}

#skilltag_hint{
margin-left: 110px;
max-width: 200px;
font-size: .65em;
margin-top: -10px;
max-height: 10px;
line-height: 10px;
text-align: center;
}

.skilltagform{
margin-left: 200px;
padding: 10px;
}



#button{
display: inline-block;
}

.cancel{
margin-left:5px;
}

#cancel{
display:inline-block;
margin-top:-20px;
}

#submitprofile{
float:left;
margin-left:270px;
display:inline-block;
}

.projects#profile{
margin-top:10px;
margin-right:20px;
padding:10px;
background-color:white;
}

#show #header_title{
margin-top:10px;
border-radius:.5em;
padding:4px;
width: 30%;
margin-left:auto;
margin-right:auto;
text-align:center;
font-size:1.4em;
background-color:maroon;
color:white;
font-weight:bold;
}

.projects#profile #projects_list{
overflow:auto;
max-height:265px;
border-style: solid;
border-color: rgb(201, 201, 201);
border-radius: .5em;
padding: .5em;
}



.backgroundtitle{
font-size: 1.1em;
color: maroon;
font-weight:bold;

}

table#users th.hilite a {
	text-decoration: none;
	color: #992020;
}

#newprojectlink { 
width: 150px;
padding: 15px;
text-align:center;
margin: 0 auto;
}

#projectstatus {
text-align:center;
padding: 15px;
}

