// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content#show{
background-color:maroon;
font-family:Arial,Helvetica, sans-serif;
}

.headerblock{
background-color:white;
location: relative;
margin-top: 20px;
margin-left: 20px;
margin-right:20px;
}

#avatar{
float:left;
padding:10px;
height:200px;
width:200px;
}

#headerinfo{
padding:10px;
margin-left:200px;
}

#name{
font-size:2em;
}

#shortdescription{
}

#user_status{
font-size:.8em;
color:Gray;
}

#contact_buttons{
}

#email{
margin-left:15px;
}

#phone{
margin-left:10px;
}

.content#show #headerinfo #skilltags{
max-height:60px;
overflow:auto;
}

.projects#profile{
margin-top:10px;
margin-left:20px;
margin-right:20px;
padding:10px;
background-color:white;
}

.content#show #header_title{
margin-top:-10px;
padding:4px;
width: 30%;
margin-left:auto;
margin-right:auto;
text-align:center;
font-size:1.1em;
background-color:maroon;
color:white;
}

.projects#profile #projects_list{
overflow:auto;
max-height:300px;
}

.background{
margin-top:10px;
margin-left:20px;
margin-right:20px;
padding:10px;
background-color:white;
max-height: 600px;
overflow:auto;
}

.background #capstitle{
font-size: 1.1em;
margin-left:75px;
}
